/* This is a reset to standardize the CSS. */

/* 1. Box sizing rules, border-box take borders and padding into account. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding and standardize font properties. */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* 3. Remove list styles on ul, ol that are specified to be a list, since 'list-style: none' sometimes removes list semantics. This is for accessibilty purposes only. */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* 4. Makes the page scroll linearly instead of snapping through the content. */
html:focus-within {
  scroll-behavior: smooth;
}

/* 5. Set core body/root defaults */
html,
body {
  height: 100%;
  min-height: 100vh
}
body {
  text-rendering: optimizeSpeed; /* The text rendering is focused on loading fast instead of making it pretty. */
  line-height: 1.5; /* The default for line-height is 1.2, which is not enough for accessible text. */
}

/* 6. 'A' elements that don't have a class get default styles. */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* 7. Make images easier to work with by limiting them to their container. */
img,
picture,
svg {
  max-width: 100%;
}

/* 8. Remove all animations, transitions and smooth scroll for people that prefer not to see them. */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* The reset stops here. */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Standards for this project start here. */

/* 1. Imports */
@import '../styles/include-media';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* 2. Variables */

$nw: #f7f7f7;
$nb: #181725;

/* 3. Mixins */

@mixin flex($direction: row, $justify: normal, $align: normal) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/* 4. Global properties */

body {
  font-family: 'Roboto', sans-serif;
}

/* 5. Containers */

.container-fluid {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  @include media('<phone') {
    max-width: 100%;
    padding: 0 1rem;
  }
  @include media('>=phone') {
    max-width: 540px;
  }
  @include media('>=tablet') {
    max-width: 768px;
  }
  @include media('>=desktop') {
    max-width: 992px;
  }
  @include media('>=desktop-large') {
    max-width: 1300px;
  }
}

header {
  padding: 2rem 0;
  margin-bottom: 3rem;
  .container {
    @include flex(row, space-between, center);

  }

  ul {
    @include flex($align: center);
    font-size: 1.125rem;
    list-style-type: none;
    column-gap: 1rem;

    a {
      text-decoration: none;
      color: black;
      transition: 150ms all ease-in-out;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    .writing {
      position: relative;
      text-decoration: line-through;
      &::after {
        position: absolute;
        content: 'Soon';
        top: 1.125rem;
        left: 50%;
        translate: -50%;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
    
    .contact {
      border: 2px solid black;
      padding: .5rem 1rem;
      font-weight: 500;
    }
  }
}

.hero {
  @include flex(column, $align: center);

  h1 {
    margin-bottom: 1rem;
    font-size: clamp(1.5rem, calc(2vw + 1rem), 3rem);
    font-weight: 800;
    text-align: center;

  }

  p {
    font-size: clamp(1.125rem, calc(1vw + 1rem), 1.5rem);
    margin-bottom: 2.5rem;
  }

  .me {
    margin-bottom: 4rem;
  }

  .bottom-image {
    width: 700px;
  }
}

.sectiontwo {
  background-color: #372e41;
  padding: 6rem 0 12rem;
  text-align: center;

  h2 {
    color: white;
    font-size: clamp(1.5rem, calc(2vw + 1rem), 2rem);
    font-weight: 700;
    margin-bottom: 2rem;
  }

  p {
    max-width: 700px;
    margin: 0 auto;
    color: white;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.skills {
  margin-top: -8rem;
  margin-bottom: 4rem;

  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include media('<desktop') {
      grid-template-columns: 1fr;
    }

    .card {
      background-color: #f7f7f7;
      width: 100%;
      text-align: center;
      padding: 2rem 2rem;
      box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.075);

      @include media('<desktop') {
        max-width: 600px;
        justify-self: center;
      }

      &:nth-of-type(1) {
        border: 1px solid rgb(55, 46, 65, 0.25);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
        @include media('>desktop') {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-left-radius: 20px;
        }
      }
      
      &:nth-of-type(2) {
        border-left: 1px solid rgb(55, 46, 65, 0.25);
        border-right: 1px solid rgb(55, 46, 65, 0.25);
        
        @include media('>desktop') {
          border-bottom: 1px solid rgb(55, 46, 65, 0.25);
        }
      }
      
      &:nth-of-type(3) {
        border: 1px solid rgb(55, 46, 65, 0.25);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;

        @include media('>desktop') {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 0;
        }
      }

      .icon {
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }

      p {
        font-weight: 500;
      }

      .list {
        margin-top: 3rem;
        h4 {
          color: #6e07f3;
          font-weight: 500;
        }

        ul {
          list-style-type: none;
          margin: 0.5rem 0 1rem;
          li {
            margin-bottom: 0.5rem;
          }
        }
      }

    }
  }
}

.work {
  margin-bottom: 6rem;
  text-align: center;
  
  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;

    @include media('<desktop') {
      grid-template-columns: 1fr 1fr;

      @include media('<tablet') {
        grid-template-columns: 1fr;
      }
    }

    .box {
      display: grid;
      position: relative;
      height: 300px;      
      border-radius: 10px;
      
      > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }

      img.back {
        border-radius: 10px;
        object-fit: cover;
        z-index: -1;
        filter: brightness(50%);
      }

      img.icon {
        place-self: center;
      }

      h3 {
        color: white;
        font-size: 1.5rem;
      }

      a {
        font-size: 1.125rem;
        display: block;
        width: fit-content;
        color: white;
        text-decoration: none;
        border: 2px solid white;
        padding: 0.5rem 1.5rem;

        &:hover {
          background-color: white;
          color: #372e41;
        }
      }

      .text {
        display: flex;
        padding: 2rem;
        row-gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: #372e41;
        border-radius: 10px;
        transition: all 400ms ease-in;
      }

      &:hover {
        .text {
          opacity: 1;
        }
      }
    }
  }

  .github-link {
    padding: .75rem 2rem;
    display: block;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid #6e07f3;
    font-weight: 500;
    text-decoration: none;
    transition: 200ms ease-in-out;
    font-size: 1.125rem;

    &:hover {
      background-color: #6e07f3;
      color: white;
    }
  }
}

.collab {
  position: relative;
  margin-bottom: -5rem;
  z-index: 1;

  h2, p, a {
    color: white;
  }
  
  .slim {
    padding: 4rem 2rem;
    border-radius: 1rem;
    background-color: #141c3a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    @include media('<desktop') {
      flex-direction: column;
      row-gap: 2rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: 800;
    }

    p {
      max-width: 400px;
      text-align: center;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 2rem;
      border: 2px solid #5be9b9;
      border-radius: 2rem;
      text-decoration: none;
      text-align: center;
      font-size: 1.25rem;
      transition: 200ms all ease-in-out;

      .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
        width: 30px;
        height: 30px;
        margin-left: -10px;
        margin-right: 5px;

        svg {
          height: 20px;
          path {
            transition: 200ms all ease-in-out;
          }
        }
      }

      &:hover {
        background-color: #5be9b9;
        color: #141c3a;

        svg  {
          path {
            fill: #141c3a;
          }
        }
      }
    }
  }
}

footer {
  padding: 10rem 0 0;
  background-color: #6e07f3;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: white;
    opacity: 0.8;
  }

  .container {

    p:last-of-type {
      font-weight: bold;
      color: white;
      text-decoration: underline;

      a { color: white; }
    }

    .socials {
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-bottom: 2rem;

    }
  }
}